<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
This is the new event page

<%if @event%>
    <% if @event.errors.any? %>
        <p>Nous n'avons pas réussi à créer l'évènement pour la (ou les) raison(s) suivante(s) :</p>
        <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <%end%>
<%end%>

    <%= form_tag url_for(action: 'create'), method: "post" do %>

        <%= label_tag 'Date de début:' %><br>
        <%= date_field_tag 'start_date'%>
        <br /> <br />

        <%= label_tag 'Durée:' %><br>
        <%= number_field_tag 'duration'%>
        <br /> <br />

        <%= label_tag "Nom de l'évènement:" %><br>
        <%= text_field_tag 'title'%>
        <br /> <br />

        <%= label_tag "Description de l'évènement:" %><br>
        <%= text_area_tag 'description'%>
        <br /> <br />

        <%= label_tag 'Prix:' %><br>
        <%= number_field_tag 'price'%>
        <br /> <br />

        <%= label_tag 'Ville:' %><br>
        <%= text_field_tag 'location'%>
        <br /> <br />

        <%= submit_tag "Créer ton event", class:"btn btn-outline-primary" %>

    <% end %>
  </body>
</html>
